@import url("https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap");

.mochy {
  font-family: "Mochiy Pop One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.tiny_para {
  font-family: "Mochiy Pop One", sans-serif;
}
@font-face {
  font-family: "dvfont";
  src: url("images/DrivingAround.ttf");
}

.dv {
  font-family: "dvfont";
  color: rgb(0, 0, 0);
}

.heading {
  font-size: 80px;
}

.title {
  font-size: 80px;
  text-align: center;
}

.tkn_borderd_text {
  background-color: #000000;
  padding: 10px 30px;
  width: fit-content;
}

.wrapper {
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
}

/* icon partner section */
.icon_grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
/* galler section */

.fluid {
  width: 100%;
}
.gal_space {
  margin: 7px;
}

/* copy to clipboard */
.copy-text {
  position: relative;
  padding: 0px 14px;
  background: #bb8e14c0;
  border: 2px solid #000000;
  border-radius: 30px;
  display: flex;
  max-width: 460px;
  width: 100%;
}
.copy-text input.text {
  padding: 10px;
  font-size: 18px;
  color: #555;
  border: none;
  outline: none;
}
.copy-text button {
  padding: 10px;
  background: transparent;
  color: #fff;
  font-size: 22px;
  border: none;
  outline: none;
  border-radius: 10px;
  cursor: pointer;
}

.copy-text button:active {
  background: transparent;
}
.copy-text button:before {
  content: "Copied";
  position: absolute;
  top: -45px;
  right: 0px;
  background: #5c81dc;
  padding: 8px 10px;
  border-radius: 20px;
  font-size: 15px;
  display: none;
}
.copy-text button:after {
  content: "";
  position: absolute;
  top: -20px;
  right: 25px;
  width: 10px;
  height: 10px;
  background: #5c81dc;
  transform: rotate(45deg);
  display: none;
}
.copy-text.active button:before,
.copy-text.active button:after {
  display: block;
}
/* token animated money */
img.pos_3 {
  position: absolute;
  top: -39%;
  left: 66%;
  width: 83px;
}

img.pos_2 {
  position: absolute;
  top: -39%;
  left: 19%;
  width: 83px;
}

img.pos_4 {
  position: absolute;
  left: 41%;
  width: 110px;
  top: 86%;
}

img.pos_1 {
  position: absolute;
  top: 99%;
  left: -29%;
}

img.pos_1 {
  position: absolute;
  top: 80%;
  left: -29%;
  width: 97px;
}

img.pos_5 {
  position: absolute;
  top: -98%;
  left: 59%;
  width: 88px;
}

img.pos_1 {
  position: absolute;
  top: 139%;
  left: -29%;
  width: 97px;
}
.ban_img {
  margin-left: 100px;
}
.htb_img {
  width: 100%;
  max-width: 475px;
  position: absolute;
  left: -27%;
  top: -29%;
}
.icon_grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  padding: 30px 0 50px;
}
.htb_img {
  width: 100%;
  max-width: 475px;
  position: static;
}
@media screen and (max-width: 768px) {
  .tkn_img {
    margin-top: 60px;
  }
  .htb_img {
    width: 100%;
    max-width: 475px;
    position: static;
    margin-bottom: 20px;
  }
  .hbti {
    margin-bottom: 20px;
  }
  .icon_grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    padding: 30px 0 30px;
  }

  .title {
    font-size: 70px;
  }
  .img_icon {
    margin-top: 22px;
  }
  .ban_img {
    margin-left: 0;
    margin-top: 80px;
  }
  img.pos_5 {
    display: none;
  }
  .wrapper {
    padding: 0 15px;
  }
  .icon_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

/* all bg section */
.abt_bg {
  background-image: url(images/bg2.png);
  background-size: cover;
  background-position: center center;
}

.tkn_bg {
  background-image: url(images/bg2.png);
  background-size: cover;
  background-position: center center;
}

.htb_bg {
  background-image: url(images/bg2.png);
  background-size: cover;
  background-position: center center;
}
